:root {
    /* Colors */
    --bg-body: #191A1C;
    --bg-sidebar: #2C2C2C;
    --bg-sidebar-inner: #262626;
    --bg-hover: #3D3D3D;
    --accent-active-bg: #1C398E;
    --accent-active-text: #8EC5FF;
    --text-primary: white;
    
    /* Fonts */
    --font-main: "Inter", sans-serif;
    
    /* Dimensions */
    --sidebar-width: 250px; /* Used in JS, useful to reference conceptually */
}